<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - project_airlines</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<style>
		/* CSS for the flexible container */
		.container {
			transition: padding-left 0.3s ease;
		}
		/* CSS for when the sidebar is open */
		.sidebar-open .container {
			padding-left: 250px; /* Adjust left padding when sidebar is open */
		}
		
	</style>
</head>
<body>
			<div class="container">
				<main role="main" class="pb-3" >
					@RenderBody()
				</main>
			</div>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
